.main-page .board {
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 3px;
}

.main-page .board .cell {
    border-radius: 3px; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}