.nav-bar {
    background-color: #EEEFF0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.nav-bar .header {
    font-size: 30px;
    font-weight: 900;
}